/* Estilos específicos para a versão móvel */
@media (max-width: 600px) {
  .carousel {
    height: 60vh;
    /* Ajustar a altura para dispositivos móveis */
  }

  .carousel__slide {
    height: 60vh;
    /* Ajustar a altura para dispositivos móveis */
  }

  .carousel__snapper img {
    object-fit: contain;
    /* Contain the image to fit within the slide */
  }
}
