body {
  background-color: rgb(33, 160, 90);
}

.container-images {
  border: 1px solid black;
  height: 495px;
  width: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 14px;
}

.images {
  width:350px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}